[submodule "projects/marxa/storage/src/lib"]
	path = projects/marxa/storage/src/lib
	url = https://github.com/jgu7man/mx-storage
[submodule "src/app/mx-storage"]
	path = src/app/mx-storage
	url = https://github.com/jgu7man/mx-storage
[submodule "projects/marxa/devkit/src/lib"]
	path = projects/marxa/devkit/src/lib
	url = https://github.com/jgu7man/mx-devkit
[submodule "src/app/mx-devkit"]
	path = src/app/mx-devkit
	url = https://github.com/jgu7man/mx-devkit
[submodule "projects/marxa/search/src/lib"]
	path = projects/marxa/search/src/lib
	url = https://github.com/jgu7man/mx-search
[submodule "projects/marxa/navbar/src/lib"]
	path = projects/marxa/navbar/src/lib
	url = https://github.com/jgu7man/mx-navbar
[submodule "projects/marxa/index/src/lib"]
	path = projects/marxa/index/src/lib
	url = https://github.com/jgu7man/mx-index
