[submodule "projects/marxa/auth"]
	path = projects/marxa/auth
	url = https://github.com/Marxa-Digital/mx-auth.git
  branch = develop
[submodule "projects/marxa/crud-panel"]
	path = projects/marxa/crud-panel
	url = https://github.com/Marxa-Digital/mx-crud-panel
  branch = develop
[submodule "projects/marxa/devkit"]
	path = projects/marxa/devkit
	url = https://github.com/Marxa-Digital/mx-devkit
  branch = develop
[submodule "projects/marxa/index"]
	path = projects/marxa/index
	url = https://github.com/Marxa-Digital/mx-index
  branch = develop
[submodule "projects/marxa/storage"]
	path = projects/marxa/storage
	url = https://github.com/Marxa-Digital/mx-storage
  branch = develop
[submodule "projects/marxa/carrier"]
	path = projects/marxa/carrier
	url = https://github.com/Marxa-Digital/mx-carrier
  branch = develop
[submodule "projects/marxa/form-constructor"]
	path = projects/marxa/form-constructor
	url = https://github.com/Marxa-Digital/form-constructor-beta
  branch = develop
[submodule "projects/marxa/mail"]
	path = projects/marxa/mail
	url = https://github.com/Marxa-Digital/mx-mail
	branch = develop
[submodule "projects/marxa/forms"]
	path = projects/marxa/forms
	url = https://github.com/marxa-digital/mx-forms
[submodule "widgets/marxa/navbar"]
	path = widgets/marxa/navbar
	url = https://github.com/marxa-digital/mx-navbar
[submodule "widgets/marxa/search"]
	path = widgets/marxa/search
	url = https://github.com/marxa-digital/mx-search
[submodule "widgets/marxa/slider"]
	path = widgets/marxa/slider
	url = https://github.com/marxa-digital/mx-slider
[submodule "widgets/marxa/social-share"]
	path = widgets/marxa/social-share
	url = https://github.com/marxa-digital/mx-social-share
