[submodule "projects/marxa/auth"]
	path = projects/marxa/auth
	url = https://github.com/Marxa-Digital/mx-auth.git
  branch = develop
[submodule "projects/marxa/crud-panel"]
	path = projects/marxa/crud-panel
	url = https://github.com/Marxa-Digital/mx-crud-panel
  branch = develop
[submodule "projects/marxa/devkit"]
	path = projects/marxa/devkit
	url = https://github.com/Marxa-Digital/mx-devkit
  branch = develop
[submodule "projects/marxa/index"]
	path = projects/marxa/index
	url = https://github.com/Marxa-Digital/mx-index
  branch = develop
[submodule "projects/marxa/navbar"]
	path = projects/marxa/navbar
	url = https://github.com/Marxa-Digital/mx-navbar.git
  branch = develop
[submodule "projects/marxa/search"]
	path = projects/marxa/search
	url = https://github.com/Marxa-Digital/mx-search.git
  branch = develop
[submodule "projects/marxa/slider"]
	path = projects/marxa/slider
	url = https://github.com/Marxa-Digital/mx-slider.git
  branch = develop
[submodule "projects/marxa/social-share"]
	path = projects/marxa/social-share
	url = https://github.com/Marxa-Digital/mx-social-share.git
  branch = develop
