# Example of configuration to login to the artifact manager

_auth = <ENCODED_PASSWORD> (converted to base 64)
email = <YOUR_EMAIL>
always-auth = true
# @marxa:registry = https://marxa.jfrog.io/artifactory/api/npm/marxa-npm/
#   @marxa:registry = https://marxa.jfrog.io/artifactory/api/npm/mx-library-npm/
