# @marxa:registry=https://marxa.jfrog.io/artifactory/api/npm/marxa-npm-local/
# //marxa.jfrog.io/artifactory/api/npm/marxa-npm-local/:_password=SmFndWFyMzAxMjE1IQ==
# //marxa.jfrog.io/artifactory/api/npm/marxa-npm-local/:username=jguzman@marxadigital.com
# //marxa.jfrog.io/artifactory/api/npm/marxa-npm-local/:email=jguzman@marxadigital.com
# //marxa.jfrog.io/artifactory/api/npm/marxa-npm-local/:always-auth=true
